<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>Flash Card - Error</title>
	<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="centered-container homepage-container">
		<h3 class="header">Uh oh... <br />Looks like and error occurred</h3>
	</div>
</div>
</body>
</html>