<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>Flash Card - Home</title>
	<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	
	<h3 class="welcome header">Welcome</h3>
	<div class="centered-container homepage-container">

   	  <div class="homepage-option card">
   	  	<p class="subheader">To get started, create some flash cards</p>
	    <a href="#" th:href="@{/flashcard/new-card}" class="btn btn-info" role="button">Create new card</a>
	  </div>
	  <div class="homepage-option card">
	  	<p class="subheader">Or if you have cards already, start a quiz!</p>
	    <a href="#" th:href="@{/flashcard/quiz-setup}" class="login-button btn btn-info" role="button">Start a quiz</a>
	  </div>
	</div>
</div>
</body>
</html>