<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>Flash Card - Home</title>
	<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	
	<h1>Flash Card App</h1>
		
	<a href="#" th:href="@{/flashcard/new-card}" class="btn btn-info" role="button">Create new card</a>
	<a href="#" th:href="@{/flashcard/quiz-setup}" class="btn btn-info" role="button">Start a quiz</a>
</div>
</body>
</html>