<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>FlashCard - Login</title>
	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Flash Card</a>
			</div>
<!-- 			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/flashcard/new-card">Create Cards</a></li>
				<li><a href="/flashcard/quiz-setup">New Quiz</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span>
						Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
						Login</a></li>
			</ul> -->
		</div>
	</nav>

<div th:if="${param.error}">
	<label style="color:red">Invalid username and password.</label>
</div>
<div th:if="${param.logout}">
	<label>You have been logged out</label>
</div>

<h1>Login</h1>

<form th:action="@{/login}" method="post">

	<div class="form-group">
		<label for="username" class="control-label">Username:</label>
		<input type="text" name="username" class="form-control" id="username" />
	</div>
	<div class="form-group">
		<label for="password" class="control-label">Password:</label>
		<input type="password" name="password" class="form-control" id="password" />
	</div>
	<button type="submit" class="btn btn-default">Login</button>
</form>

<div style="margin-top:5px">
	<a href="/create-new-profile" class="btn btn-info" role="button">Create a new profile</a>
</div>

</div>
</body>
</html>