<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>FlashCard - Login</title>
<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div th:if="${param.error}">
	<label style="color:red">Invalid username and password.</label>
</div>
<div th:if="${param.logout}">
	<label>You have been logged out</label>
</div>

<h1>Login</h1>

<form th:action="@{/login}" method="post">

	<div class="form-group">
		<label for="username" class="control-label">Username:</label>
		<input type="text" name="username" class="form-control" id="username" />
	</div>
	<div class="form-group">
		<label for="password" class="control-label">Password:</label>
		<input type="password" name="password" class="form-control" id="password" />
	</div>
	<button type="submit" class="btn btn-default">Login</button>
</form>

<div style="margin-top:5px">
	<a href="/create-new-profile" class="btn btn-info" role="button">Create a new profile</a>
</div>

</div>
</body>
</html>