<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>Create new Quiz</title>
	<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<h1>Create new quiz</h1>
	
<form th:object="${cardBuilder}" th:action="@{/flashcard/quiz-setup}" method="post">
	<div class="form-group">
	<label for="questionCount" class="control-label">Number of questions:</label>
	<input type="text" id="questionCount" class="form-control" name="questionCount" th:field="*{questionCount}" />
	</div>
	<input type="submit" class="btn btn-info" value="Start Quiz!" />
</form>


</div>	
</body>
</html>