<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>Create new Quiz</title>
	<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<h3 class="header">Create new quiz</h3>
<div class="centered-container card">
<form th:object="${questionSetBuilder}" th:action="@{/flashcard/quiz-setup}" method="post">
	<div class="form-group">
	<label for="questionCount" class="control-label">Number of questions:</label>
	<input type="text" id="questionCount" class="form-control" name="questionCount" th:field="*{questionCount}" />
	</div>
	<input type="submit" class="btn btn-info login-button" value="Start Quiz!" />
	<a href="#" th:href="@{/}" class="login-button btn btn-default login-button" role="button">Cancel</a>
	 
</form>
</div>


</div>	
</body>
</html>