<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  	<title>Flash Card - Quiz</title>
	<!--/*/ <th:block th:include="fragments/headfragment :: head"></th:block> /*/-->
</head>

<body>
<div class="container">
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->>

	<h1>Quiz</h1>

	<div th:object="${flashcard}">
		<input type="hidden" th:field="*{id}" />
		<div class="form-group">
			<label for="question" class="control-label">Question:</label>
			<p class="question" id="question" th:text="${flashcard.question}">Question Goes here</p>
		</div>
		<div id="answer-div" class="collapse form-group">
			<label for="answer" class="control-label">Answer</label>
			<p class="answer" id="answer" th:text="${flashcard.answer}">Answer Goes here</p>
		</div>
	</div>
	
	<button href="#answer-div" data-toggle="collapse" class="btn btn-default btn-group">Show/Hide Answer</button>

	<form th:object="${flashcard}" th:action="@{''}" method="post">
		<div class="form-group" style="margin-top: 5px">
			<input type="submit" class="btn btn-default btn-group" value="Next Question" role="button"/>
		</div>
	</form>


	
<script>	

	function showHideAnswer() {
		var x = document.getElementById("answer");
		if (x.style.display === 'none') {
			x.style.display = 'block';
		} else {
			x.style.display = 'none';
		}
	}
</script>
</div>
</body>
</html>